//COLORS
$color-purple-light: hsl(260, 100%, 95%);
$color-purple: hsl(264, 82%, 80%);
$color-purple-dark: hsl(263, 55%, 52%);
$color-grey-light: hsl(214, 17%, 92%);
$color-grey: hsl(0, 0%, 81%);
$color-grey-medium: hsl(224, 10%, 45%);
$color-grey-dark: hsl(217, 19%, 35%);
$color-blue-dark: hsl(219, 29%, 14%);
$color-black: hsl(0, 0%, 7%);
$color-white: hsl(0, 0%, 100%);
